- if @goal
  .goal
    = pluralize(distance_from_now(@goal.time_target), 'Day')
    %br
    Time Left Until Goal
  .goal
    = number_in_human @goal.views
    %br
    Video Views
  .goal
    = number_in_human @goal.subscribers
    %br
    Subscribers
  .goal
    = seconds_in_human @goal.view_time
    %br
    View Time
  .goal
    = number_in_human @goal.facebook_likes
    %br
    Facebook Likes

