%ul.unstyled
  %li
    = number_with_delimiter @status.lifetime_views
    %br
    Lifetime Views
  %li
    = number_with_delimiter number_with_precision(@status.avg_views, :precision => 0)
    %br
    AVG Views Per Video
  %li
    = number_with_delimiter @status.minutes_watched
    %br
    Total Minutes Watched
  %li
    = seconds_in_human @status.avg_view_duration
    %br
    AVG View Duration
  %li
    = number_with_delimiter @status.subscribers
    %br
    Total Subscribers
  %li
    = @status.vscr
    \%
    %br
    VSCR (%)
  %li
    = @top_in_day.report_date.strftime('%A')
    %br
    Top Day of Week - Views
  %li
    = @top_video.trackable.video.title
    %br
    Top Video - Views

.line
%ul.unstyled
  %li
    = number_with_delimiter @status.fb_likes
    %br
    Facebook Likes
  %li
    = number_with_delimiter @status.twitter_followers
    %br
    Twitter Followers
  %li
    Not Available
    %br
    Tumblr Followers
  %li
    Not Available
    %br
    Instagram Followers
  %li
    = number_with_delimiter @status.plus_followers
    %br
    Google+ Followers

